<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form action="/cafe/login" method="POST" class="login_container">
    <div class="login_frame" style="height: 460px">
      <div class="login_top">
        <span>Login</span>
        <div>
          Back to Homepage |
          <a style="color: #6440fb" href="/cafe">Home</a>
        </div>
        <p>
          You don't have an account? |
          <a style="color: #6440fb" href="/cafe/signup">Signup</a>
        </p>
      </div>
      <div class="login_input_frame">
        <div class="login_input_container">
          <label for="">Username:</label>
          <input
            placeholder="Username"
            name="mb_nick"
            type="text"
            value=""
            required
          />
        </div>
        <div class="login_input_container">
          <label for="">Enter password:</label>
          <input
            placeholder="Password"
            name="mb_password"
            type="password"
            value=""
            required
          />
        </div>
      </div>
      <button class="login_btn" name="login" type="submit">Login</button>
    </div>
  </form>
</body>
<%-include('includes/footer')%>
