<%-include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<body>
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/cafe/signup"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Signup</span>
        <div>
          Back to Homepage |
          <a style="color: #6440fb" href="/cafe">Home</a>
        </div>
        <p>
          Already registered? |
          <a style="color: #6440fb" href="/cafe/login">Login</a>
        </p>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Username</label>
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="Username"
            value=""
            required
            autocomplete="off"
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Email</label>
          <input
            type="text"
            name="mb_email"
            class="mb_email"
            placeholder="Email"
            value=""
            required
            autocomplete="off"
          />
        </div>
      </div>
      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label for="">Password</label>
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="Password"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label for="">Confirm Password</label>
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="Confirm Password"
            value=""
            required
          />
        </div>
      </div>
      <div class="login_input_frame">
        <div class="media_frame">
          <img
            class="upload_img_frame"
            src="/images/default_cafe.jpg"
            alt="default_cafe"
          />
          <div class="upload_container">
            <span class="media_text">Cafe photo</span>
            <div class="filebox bs3-primary preview-image">
              <input
                disabled="disabled"
                value="Select a photo"
                class="upload-name"
              />
              <label for="input_file">Upload a photo</label>
              <input
                type="file"
                id="input_file"
                name="cafe_img"
                class="upload-hidden form-control-file cafe_img"
              />
            </div>
            <p class="thumbnail_desc">
              (Upload required photo types: jpg, jpeg, png)
            </p>
          </div>
        </div>
      </div>
      <button class="login_btn btn" name="signup" type="submit">Signup</button>
    </div>
  </form>
  <script>
    $(function () {
      let fileTarget = $(".filebox .upload-hidden");
      let filename = "";
      fileTarget.on("change", function () {
        if (window.FileReader) {
          const uploading_file = $(this)[0].files[0];
          console.log($(this)[0].files[0]);
          const fileType = uploading_file["type"];
          const validImgTypes = ["image/jpg", "image/jpeg", "image/png"];
          if (!validImgTypes.includes(fileType)) {
            alert("Please, Upload required photo types: (jpg, jpeg, png)");
          } else {
            if (uploading_file) {
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_img_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("succeed");
            }
            filename = uploading_file.name;
          }
        }
        $(this).siblings(".upload-name").val(filename);
      });
    });
    function validateSignUpForm() {
      const mb_nick = $(".mb_nick").val();
      const mb_email = $(".mb_email").val();
      const mb_password = $(".mb_password").val();
      const mb_confirm_password = $(".mb_confirm_password").val();
      const cafe_img = $(".cafe_img").get(0).files[0] ?? null;
      if (
        mb_nick == "" ||
        mb_password == "" ||
        mb_email == "" ||
        mb_confirm_password == ""
      ) {
        alert("Please, Input all information correctly!");
        return false;
      } else if (mb_password !== mb_confirm_password) {
        alert("Please, Input the same passwords");
        return false;
      }
      if (!cafe_img) {
        alert("Please, Upload a photo!");
        return false;
      }
      return true;
    }
  </script>
</body>
<%-include('includes/footer')%>
